* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container, .game-row, .game-controls, .control-row {
  display: -webkit-flex;
  display: flex;
}
.game-row, .game-btn {
  -webkit-flex: 1;
  flex: 1;
}
.container {
  -webkit-flex-direction: column;
  flex-direction: column;

  width: 40vw;
  height: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  position: relative;
}
.game-controls {
  position: absolute;
  left: 22%;
  top: 22%;
  width: 56%;
  height: 56%;

  padding: 10px;
  background: darkslateblue;
  color: white;
  border: 10px solid sandybrown;
  border-radius: 50%;
  text-align: center;

  z-index: 100; /*Needs to always be in front even when the game-btns z-index are changed */
}
.center {
  margin: auto;
}
#title {
    font-family: "Permanent Marker";
    margin: 0px;
    margin-top: 7px;
}
.control-row {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.control-btn {
  margin: 5px;
  margin-right: 0px;
  border-radius: 10px;
  border: 0px solid black;
  border-bottom: 3px solid black;
  border-left: 2px solid black;
  height: 30px;
  outline: none;
  cursor: pointer;
  background: crimson;
  color: white;
}
.control-btn:active {
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
}
#strict-light {
  border: 1px solid lightgrey;
  border-radius: 50%;
  background: whitesmoke;
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
#level-count {
  border: 4px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
  font-family: "Orbitron";
  padding-top: 5px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: grey;
  width: 70px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}
.game-btn {
  cursor: pointer;
}
#btn0 {
  border-top: 10px solid sandybrown;
  border-left: 10px solid sandybrown;
  border-right: 5px solid sandybrown;
  border-bottom: 5px solid sandybrown;
  border-top-left-radius: 100%;
  background: royalblue;
}#btn1 {
  border-top: 10px solid sandybrown;
  border-right: 10px solid sandybrown;
  border-left: 5px solid sandybrown;
  border-bottom: 5px solid sandybrown;
  border-top-right-radius: 100%;
  background: springgreen;
}#btn2 {
  border-left: 10px solid sandybrown;
  border-bottom: 10px solid sandybrown;
  border-top: 5px solid sandybrown;
  border-right: 5px solid sandybrown;
  border-bottom-left-radius: 100%;
  background: crimson;
}#btn3 {
  border-right: 10px solid sandybrown;
  border-bottom: 10px solid sandybrown;
  border-left: 5px solid sandybrown;
  border-top: 5px solid sandybrown;
  border-bottom-right-radius: 100%;
  background: gold;
}

.active { /* The class that is appended to game-btns that are pressed */
  box-shadow: 0px 0px 10px 5px gold;
  opacity: 0.9;
  z-index: 1;
}

@media screen and (max-width: 770px) {
  .container {
    width: 100vw;
    height: 100vw;
  }
  #title {
    font-size: 20px;
  }
  #level-count {
    height: 25px;
    padding: 0px;
  }
}
